{
  "data": {
    "type": "oauth-clients",
    "attributes": {
      "service-provider": "{{project_git_provider}}",
      "http-url": "https://{{project_git_provider_domain}}",
      "api-url": "{{project_git_provider_api_url}}",
      "oauth-token-string": "{{project_git_provider_access_token}}"
    }
  }
}
